{% extends 'base.html' %}

{% block content %}
<style>
fieldset {background-color: lightblue;}
h2   {color: darkblue;}
p    {color: black;}
</style>
<h2>Barnehager i Kristiansand</h2>
<p> På denne siden finner du en oversikt over alle de kommunale barnehagene i Kristiansand kommune.</p>

<p>Oversikten viser hvor mange barn det er plass til i hver barnehage og hvor mange ledige plasser det er i hver barnehage.</p>

<p> Barnehager i Kristiansand har et variert barnehagetilbud med små og store barnehager, variert faglig innhold og geografisk spredning.</p> 
<p>Følg linken for å komme til Kristiansand kommune sin hjemmeside med oversikt over beliggenheten til barnehagene:</p>
<a href="https://www.kristiansand.kommune.no/navigasjon/barnehage-og-skole/barnehage/barnehager-i-kristiansand/">Side med kart over barnehagene</a>
<p> </p>
<p> </p>

<h2> Oversikt:</h2>
<table border=1>
	<tr>
		<th>Id</th>
		<th>Navn</th>
		<th>Antall plasser</th>
		<th>Antall ledige plasser</th>
	</tr>
	{% for elt in data %}
	<tr>
		<td>{{ elt.barnehage_id }}</td>
		<td>{{ elt.barnehage_navn }}</td>
		<td>{{ elt.barnehage_antall_plasser }}</td>	
		<td>{{ elt.barnehage_ledige_plasser }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}